
.DS_Store
obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.rar

Library/cache/*
Library/ShaderCache
Library/metadata/*
Library/previews/*
Library/ScriptAssemblies/*
Main/Library/cache/*
Main/Library/ShaderCache
Main/Library/metadata/*
Main/Library/previews/*
Main/Library/ScriptAssemblies/*
Main/Assets/NGUI/Examples/Models/Orc Armor/*

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
BuildPlayer.prefs
BuildSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
ScriptMapper
screenshots
*.log
Main/Library/CurrentMaximizeLayout.dwlt
Main/Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/CurrentLayout.dwlt
ShaderCache.db
Library/ShaderCache
.git_old
*.apk
Library/
Releases/
